@import "tailwindcss";

/* ------------------ BASE COLORS ------------------ */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-primary: #F9F9F9;
  --bg-secondary: #ffffff;
  --bg-tertiary: #1a1a1a;
  --text-primary: #1a1a1a;
  --text-secondary: #4b5563;
  --border-color: #e5e7eb;
  --accent-color: #CBB677;
}


/* ------------------ DARK MODE CLASS ------------------ */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --bg-primary: #0a0a0a;
  --bg-secondary: #1a1a1a;
  --bg-tertiary: #2a2a2a;
  --text-primary: #f9f9f9;
  --text-secondary: #9ca3af;
  --border-color: #374151;
  --accent-color: #CBB677;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* nice animations */
* {
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
